<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="createplaylist.css">
</head>
<body>
<div class="createplaylist">
<form action="/addplaylist" method="post">
<h1>Create Playlist</h1>

<label>PlayList Name</label>
<input type="text" name = "name">
<br/><br/>
<div th:each="song:${songslist}">

<input type="checkbox" th:name="Song" th:value="${song.id}"/>
<label th:text="${song.name}"></label>
<br/><br/>

</div>

<input type="submit" value="ADD PLAYLIST">

</form>
</div>
</body>
</html>