@charset "UTF-8";
body{
	background-color: #708090;
	text-align: center;
}

 li {
    display: inline-block;
}

 a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

 a:hover {
    background-color: #555;
}